.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 6px 15px;
}

.clear, .clearInverted {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color)
}

.outline, .outlineInverted {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.outlineInverted {
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}
