.Button {
    cursor: pointer;
    color: var(--primary-color)
}

.clear {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 10px 15px;
}
