.SelectWrapper {
    display: flex;
    gap: 5px;
}

.SelectWrapper.readonly {
    opacity: 0.7;
}

.Select {
    background: none;
    outline: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
