.app.normal {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #08084f;
    --primary-color: #0733b8;
    --secondary-color: #0046eb;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
