:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #08084f;
    --primary-color: #0046eb;
    --secondary-color: #0733b8;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #c3c3c3;
}
