.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #f98100;
    --primary-color: #b40f00;
    --secondary-color: #d11100;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #fbf7f4;
}
