.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}

.input {
    margin-top: 10px;
}

.loading {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
